@charset "utf-8";
html,body{
	margin: 0;
	height: 100%;
	padding: 0;
}
#wrap {
	
	background-color: #EBEDEF;
}
#wrap #top {
    height: 50px;
	background-color: #005792;
	-moz-box-shadow:    3px 1px 5px 6px #ccc;
  	-webkit-box-shadow: 3px 1px 5px 6px #ccc;
  	box-shadow:         3px 1px 5px 6px #ccc;

}
#wrap #top #topleft {
    float: left;
    width: 15%;
    height: 50px;
    background-color: transparent;
    text-align: center;
	
	
}
#wrap #top #topmiddle {
    float: left;
    width: 60%;
    background-color: transparent;
    height: 50px;
    text-align: center;
	line-height: 50px;
}
#wrap #top #topmiddleleft {
	float: left;
    width: 15%;
    background-color: transparent;
    height: 50px;
    text-align: center;
	line-height: 50px;
}

#wrap #top #topright {
    float: right;
    width: 10%;
    background-color: transparent;
    height: 50px;
    text-align: right;
}
.sellbutton{
	border-radius: 10px;
	background-color: white;
	border: none;
	color: #408ab4;
	text-align: center;
	cursor: pointer;
	height: 35px;
}
.sellbutton:hover{
	background-color: #408ab4;
	color:white;
}


#wrap #down {
    
    background-color: #D6CECE;
}
#wrap #down #downleft {
    float: left;
    width: 15%;
    height: 885px;
	background-color: #34699a;
}
#wrap #down #downright {
    float: left;
    width: 85%;
    height: 100%;
	
	
    
}

.listitem{
	background-color: #4d4949;
}
.main{
	background-color: #34699a;
	color: white;
	font-family: 微軟正黑體;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
}
.main:hover{
	background-color: #408ab4;
}
.sub{
	margin: 0;
	background-color: #132238;
	color: white;
	font-family: 微軟正黑體;
	font-weight: bold;
	font-size: 16px;
	text-align:center;
	cursor: pointer;
	line-height: 30px;
	
}

.sidelistitem{
	height: 30px;
}
.sidelistitem:hover{
	background-color: #364e68;
}

#sort_selection{
	padding: 5px;
	background-color: #E5E7E9;
	color: black;
	font-family: 微軟正黑體;
	height: 50px;
	margin: 10px;
	margin-top: 12px;
	
	line-height: 50px;
	
}
.sort_button{
	border: none;
	background-color: white;
	font-family: 微軟正黑體;
	font-size: 16px;
	height: 30px;
	width: 100px;
	margin-left:10px;
	cursor: pointer;
}
.sort_cost{
	height: 30px;
	width: 150px;
	border: none;
	font-family: 微軟正黑體;
	font-size: 16px;
	margin-left:10px;
	cursor: pointer;
}


.post{
	margin: 5px;
	padding: 5px;
	background-color: #E5E7E9;
	font-family: 微軟正黑體;
	height:400px;
	width:250px;
	display: inline-block;
	color : black;
}
.post:hover{
	transition: box-shadow .25s;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sub a{
	text-decoration: none;
	color:inherit;
}


.picturebox{
    float: left;
    width:40px;
    height:40px;
    overflow: hidden;
	margin-top:5px;
	margin-right:5px; 
}
.picturebox img{
    border-radius:50%;
    object-fit: cover;
    width:40px;
    height:40px;
    
}